<form [formGroup]="miFormulario" 
      class="login100-form" 
      autocomplete="off"
      (ngSubmit)="login()">
                
    <span class="login100-form-title p-b-49">
        Login
    </span>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Username</span>
        <input class="input100"
               type="email" 
               formControlName="usuario"
               placeholder="Ingrese su email">
        <span class="focus-input100"></span>
    </div>
    <div class="errorvalidacion">
        <label *ngIf="miFormulario.controls['usuario'].errors && (miFormulario.controls['usuario'].dirty || miFormulario.controls['usuario'].touched)">
             El nombre de usuario no cumple con los requisitos (correo electrónico)
        </label>
      </div> 

    <div class="wrap-input100">
        <span class="label-input100">Password</span>
        <input class="input100"
               type="password"
               formControlName="clave" 
               placeholder="Ingrese su contraseña">
        <span class="focus-input100"></span>
    </div>
    <div class="errorvalidacion">
        <label *ngIf="miFormulario.controls['clave'].errors && (miFormulario.controls['clave'].dirty || miFormulario.controls['clave'].touched)">
             La contraseña no cumple con los requisitos
        </label>
      </div>
    
    <div class="text-right p-t-8 p-b-31"></div>
    
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn"
                    type="submit"
                    [disabled]="miFormulario.invalid">
                Login
            </button>
        </div>
    </div>

    <div class="flex-col-c p-t-60">
        <span class="txt1 p-b-17">
            ¿Olvido su contraseña?
        </span>

        <a routerLink="/auth/recuperar-pass" class="txt2">
            Recuperela aqui
        </a>
    </div>
</form>