<p-menubar [model]="items" st >

        <button pButton label="Faculty"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/facultad-read">
        </button>
        <button pButton label="Department"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/departamento-read">
        </button>
        <button pButton label="Status"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/estado-read">
        </button>
        <button pButton label="T-Bonding"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/vinculacion-read">
        </button>
        <button pButton label="T-Request"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/tipo-solicitud-read">
        </button>
        <button pButton label="T-Committee"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/comite-read">
        </button>
        <button pButton label="I-Area"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/area-read">
        </button>
        <button pButton label="Modality"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/modalidad-read">
        </button>
        <button pButton label="Request"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/requests/request-read">
        </button>
        <button pButton label="Proponent"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/proponente-read">
        </button>
        <button pButton label="Juries"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/parameters/jurado-read">
        </button>
        <button pButton label="Users"
                class="p-button-sm mt-2"
                icon="pi pi-user"
                style="margin-right: 5px;"
                routerLink="/usuarios/user-read">
        </button>
        <button pButton label="Logout"
                class="p-button-sm mt-2"
                icon="pi pi-power-off"
                (click)="logout()">
        </button>
</p-menubar>
<router-outlet></router-outlet>
   
<pre> {{ usuario | json }} </pre>


<!--     
<hr>

<p>
    pagina de autorizados
</p>

<h4>User info</h4>

<pre> {{usuario | json}} </pre>
 -->
<!-- <button (click)="logout()" >Logout</button>
 -->
    <!-- <app-change-pass></app-change-pass> -->