<form [formGroup]="dataForm" 
class="login100-form" 
autocomplete="off"
class="text-layout mt-2">

<div class="p-fluid p-formgrid grid text-layout">
    <div class="p-field col-12 md:col-6">
       <label>Fecha</label>
       <input type='date' [ngModel]='fecha | date:"yyyy-MM-dd" ' (ngModelChange)='fecha=$event'   
            pInputText  readonly
            formControlName="fecha_radicado" > 
        </div>

    <div class="p-field col-12 md:col-6" >
        <label> Nombre del Trabajo</label>
        <input type="text" 
               pInputText       
               formControlName="nombre_trabajo">  
        <div class="errorvalidacion" class="p-field col-6 ">
        <label *ngIf="dataForm.controls['nombre_trabajo'].errors && (dataForm.controls['nombre_trabajo'].dirty || dataForm.controls['nombre_trabajo'].touched)">
           Campo invalido, por favor valide la información
         </label>
        </div>     
    </div>
    

  <div class="p-field col-12 md:col-6">
      <label>Descripción</label>
      <input type="text" 
             pInputText       
             formControlName="descripcion"> 
      <div class="errorvalidacion" class="p-field col-6 ">
      <label *ngIf="dataForm.controls['descripcion'].errors && (dataForm.controls['descripcion'].dirty || dataForm.controls['descripcion'].touched)">
         Campo invalido, por favor valide la información
       </label>
      </div>    
  </div>
  
      <div class="p-field col-12 md:col-6">
         <label for="id_tiposolicitud">Tipo de Solicitud</label>
          <select id="seleTipoSoli"  formControlName="id_tiposolicitud">
            <option *ngFor="let type of typeRequestList" value="{{type.id}}">{{type.nombre}}</option>
          </select>        
     </div>

      <div class="p-field col-12 md:col-6">
            <label for="id_modalidad">Modalidad</label>
          <select id="seleMod"  formControlName="id_modalidad">
            <option *ngFor="let mod of modality" value="{{mod.id}}">{{mod.nombre}}</option>
          </select>  
      </div>

        <div class="p-field col-12 md:col-6">
            <label for="id_areainvestigacion">Area de Investigacion</label>
            <select id="seleArea"  formControlName="id_areainvestigacion">
              <option *ngFor="let a of area" value="{{a.id}}">{{a.nombre}}</option>
            </select>      
       </div>

       <div class="p-field col-12 md:col-6">
      <label for="id_estado" >Estado</label>
      <select id="seleEstado"  formControlName="id_estado">
        <option *ngFor="let e of estado" value="{{e.id}}">{{e.nombre}}</option>
      </select>   
  </div>

  <div class="p-field col-12 md:col-6">
    <label for="proponente" >Proponente</label>
    <select id="selePropo"  formControlName="proponente">
      <option *ngFor="let p of proponente" value="{{p.id}}">{{p.primer_nombre}}{{p.otros_nombres}}{{p.primer_apellido}}{{p.segundo_apellido}}</option>
    </select>   
</div>

  <div class="p-field col-12 md:col-6">
    <form [formGroup]="documentForm">
      <input class="btn orange" type="file" (change)="UploadDocument($event)" name="document"  /> 
      &nbsp;<button class="btn btn-success " type="button" (click)="SubmitFileToServer()" > Cargar Documento</button>
        </form>
   </div>

   <h5>Advanced</h5>
    <p-fileUpload name="cargar"  (click)="CargaArchivo($event)" >
    </p-fileUpload>

   <div class="p-field col-12 ">
     
      <button pButton type="button"
              icon="pi pi-check "
              label="Create" 
              class="p-button-outlined p-button-success"
              (click)="SaveRecord()">
      </button>
   </div>

</div>
</form>

