<div class="card" >

    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" 
                    icon="pi pi-plus" 
                    class="p-button-success p-mr-2"
                    routerLink="/parameters/proponente-create">
            </button>
        </ng-template>
    </p-toolbar>


        <p-table [value]="recordList">
            <ng-template pTemplate="header">
                <tr>
                    <th>Documento</th>
                    <th>Primer Nombre</th>
                    <th>Otros Nombres</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th>Vinculacion</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-proponente>
                <tr>
                    <td>{{proponente.documento}}</td>
                    <td>{{proponente.primer_nombre}}</td>
                    <td>{{proponente.otros_nombres}}</td>
                    <td>{{proponente.primer_apellido}}</td>
                    <td>{{proponente.segundo_apellido}}</td>
                    <td>{{proponente.correo}}</td>
                    <td>{{proponente.celular}}</td>
                    <td>{{proponente.id_tipovinculacion}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" 
                                class="p-button-rounded p-button-success p-mr-2"
                                style="margin-right: 5px;"
                                type="button"
                                [routerLink]="['/parameters/proponente-update', proponente.id]" 
                                >
                        </button>
                        <button pButton pRipple icon="pi pi-trash" 
                                class="p-button-rounded p-button-warning"
                                type="button"
                                [routerLink]="['/parameters/proponente-delete', proponente.id]" 
                                >
                        </button>
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>

</div>

<router-outlet></router-outlet>

