<form [formGroup]="dataForm" 
      class="login100-form" 
      autocomplete="off"
      class="text-layout mt-2">
      
      <div class="p-fluid p-formgrid grid text-layout">
        <div class="p-field col-12 md:col-6">
            <label> Nombre del Departamento</label>
            <input type="text" 
                   pInputText
                   formControlName="nombre"> 
        </div>      
        <div class="errorvalidacion" class="p-field col-12 ">
            <label *ngIf="dataForm.controls['nombre'].errors && (dataForm.controls['nombre'].dirty || dataForm.controls['nombre'].touched)">
                 Campo invalido, por favor valide la información
            </label>
          </div> 
        <div class="p-field col-12 ">

            <button pButton type="button"
                    icon="pi pi-check "
                    label="Create" 
                    class="p-button-outlined p-button-success"
                    (click)="SaveRecord()"
                   >
            </button>
        </div>

    </div>
</form>


