<p> delete </p>

<h5>Basic</h5>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-button (click)="confirm1()" icon="pi pi-check" label="Confirm" styleClass="mr-2 p-button-danger" ></p-button>
<p-button icon="pi pi-times" label="Cancel" routerLink="/usuarios/user-read" ></p-button>

<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000"></p-confirmDialog>

<p-messages [value]="msgs"></p-messages>