<div class="card" >

    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" 
                    icon="pi pi-plus" 
                    class="p-button-success p-mr-2"
                    routerLink="/usuarios/user-create">
            </button>
        </ng-template>
    </p-toolbar>


        <p-table [value]="user">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Estado</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{user.nombre}}</td>
                    <td>{{user.apellido}}</td>
                    <td>{{user.correo}}</td>
                    <td>{{user.estado}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" 
                                class="p-button-rounded p-button-success p-mr-2"
                                style="margin-right: 5px;"
                                type="button"
                                [routerLink]="['/usuarios/user-update', user.id]" 
                                >
                        </button>
                        <button pButton pRipple icon="pi pi-trash" 
                                class="p-button-rounded p-button-warning"
                                type="button"
                                [routerLink]="['/usuarios/user-delete', user.id]" 
                                >
                        </button>
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>

</div>

<router-outlet></router-outlet>
