<div class="card" >

    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" 
                    icon="pi pi-plus" 
                    class="p-button-success p-mr-2"
                    routerLink="/parameters/vinculacion-create">
            </button>
        </ng-template>
    </p-toolbar>


        <p-table [value]="recordList">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-vinculacion>
                <tr>
                    <td>{{vinculacion.nombre}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" 
                                class="p-button-rounded p-button-success p-mr-2"
                                style="margin-right: 5px;"
                                type="button"
                                [routerLink]="['/parameters/vinculacion-update', vinculacion.id]" 
                                >
                        </button>
                        <button pButton pRipple icon="pi pi-trash" 
                                class="p-button-rounded p-button-warning"
                                type="button"
                                [routerLink]="['/parameters/vinculacion-delete', vinculacion.id]" 
                                >
                        </button>
                    </td>
                    
                </tr>
            </ng-template>
        </p-table>

</div>

<router-outlet></router-outlet>

