<form [formGroup]="dataForm" 
      class="login100-form" 
      autocomplete="off"
      class="text-layout mt-2">
      <input type="hidden" formControlName="id" />
      
<div class="p-fluid p-formgrid grid text-layout">
        <div class="p-field col-12 md:col-6">
            <label> Documento</label>
            <input type="text" 
                   pInputText       
                   formControlName="documento"> 
        </div>
        <div class="errorvalidacion" class="p-field col-12 ">
          <label *ngIf="dataForm.controls['documento'].errors && (dataForm.controls['documento'].dirty || dataForm.controls['documento'].touched)">
               Campo invalido, por favor valide la información
          </label>
        </div> 
    
       <div class="p-field col-12 md:col-6">
          <label>Primer Nombre</label>
          <input type="text" 
                 pInputText       
                 formControlName="primer_nombre"> 
       </div>
       <div class="errorvalidacion" class="p-field col-12 ">
        <label *ngIf="dataForm.controls['primer_nombre'].errors && (dataForm.controls['primer_nombre'].dirty || dataForm.controls['primer_nombre'].touched)">
             Campo invalido, por favor valide la información
        </label>
       </div> 
    
       <div class="p-field col-12 md:col-6">
            <label>otros Nombres</label>
            <input type="text" 
                   pInputText       
                   formControlName="otros_nombres"> 
        </div>
        <div class="errorvalidacion" class="p-field col-12 ">
          <label *ngIf="dataForm.controls['otros_nombres'].errors && (dataForm.controls['otros_nombres'].dirty || dataForm.controls['otros_nombres'].touched)">
               Campo invalido, por favor valide la información
          </label>
        </div> 
    
        <div class="p-field col-12 md:col-6">
                <label>Primer Apellido</label>
                <input type="text" 
                       pInputText       
                       formControlName="primer_apellido"> 
            </div>
            <div class="errorvalidacion" class="p-field col-12 ">
              <label *ngIf="dataForm.controls['primer_apellido'].errors && (dataForm.controls['primer_apellido'].dirty || dataForm.controls['primer_apellido'].touched)">
                   Campo invalido, por favor valide la información
              </label>
            </div> 
    
            <div class="p-field col-12 md:col-6">
                <label>Segundo Apellido</label>
                <input type="text" 
                       pInputText       
                       formControlName="segundo_apellido"> 
            </div>
            <div class="errorvalidacion" class="p-field col-12 ">
              <label *ngIf="dataForm.controls['segundo_apellido'].errors && (dataForm.controls['segundo_apellido'].dirty || dataForm.controls['segundo_apellido'].touched)">
                   Campo invalido, por favor valide la información
              </label>
            </div> 
    
         <div class="p-field col-12 md:col-6">
          <label >Email</label>
          <input type="email" 
                 pInputText
                 formControlName="correo"> 
         </div>
         <div class="errorvalidacion" class="p-field col-12 ">
          <label *ngIf="dataForm.controls['correo'].errors && (dataForm.controls['correo'].dirty || dataForm.controls['correo'].touched)">
             Campo invalido, por favor valide la información
          </label>
         </div> 
      
      <div class="p-field col-12 md:col-6">
          <label>Celular</label>
          <input type="number" 
                 pInputText
                 formControlName="celular"> 
      </div>
      <div class="errorvalidacion" class="p-field col-12 ">
        <label *ngIf="dataForm.controls['celular'].errors && (dataForm.controls['celular'].dirty || dataForm.controls['celular'].touched)">
             Campo invalido, por favor valide la información
        </label>
      </div> 

        <div class="p-field col-12 ">
            <button pButton type="button"
                    icon="pi pi-check "
                    label="Update" 
                    class="p-button-outlined p-button-success"
                    (click)="SaveRecord()"
                    [disabled]="dataForm.invalid"
                    >
            </button>
            <button pButton type="button"
            icon="pi pi-check "
            label="Cancel" 
            class="p-button-outlined p-button-success"
            routerLink="/parameters/proponente-read">
            </button>
      </div>
        
</div>
</form>


