<form [formGroup]="dataForm" 
class="login100-form" 
autocomplete="off"
class="text-layout mt-2">

<div class="p-fluid p-formgrid grid text-layout">
    <div class="p-field col-12 md:col-6">
        <label> Documento</label>
        <input type="text" 
               pInputText       
               formControlName="documento"> 
      <div class="errorvalidacion" class="p-field col-6 ">
      <label *ngIf="dataForm.controls['documento'].errors && (dataForm.controls['documento'].dirty || dataForm.controls['documento'].touched)">
           Campo invalido, por favor valide la información
      </label>
    </div> 
    </div>
    

  <div class="p-field col-12 md:col-6">
      <label>Primer Nombre</label>
      <input type="text" 
             pInputText       
             formControlName="primer_nombre"> 
    <div class="errorvalidacion" class="p-field col-6 ">
    <label *ngIf="dataForm.controls['primer_nombre'].errors && (dataForm.controls['primer_nombre'].dirty || dataForm.controls['primer_nombre'].touched)">
         Campo invalido, por favor valide la información
    </label>
    </div>
    </div>
  

    <div class="p-field col-12 md:col-6">
        <label>otros Nombres</label>
        <input type="text" 
               pInputText       
               formControlName="otros_nombres"> 
         <div class="errorvalidacion" class="p-field col-6 ">
      <label *ngIf="dataForm.controls['otros_nombres'].errors && (dataForm.controls['otros_nombres'].dirty || dataForm.controls['otros_nombres'].touched)">
           Campo invalido, por favor valide la información
      </label>
    </div>        
    </div>
   

      <div class="p-field col-12 md:col-6">
            <label>Primer Apellido</label>
            <input type="text" 
                   pInputText       
                   formControlName="primer_apellido"> 
             <div class="errorvalidacion" class="p-field col-6 ">
          <label *ngIf="dataForm.controls['primer_apellido'].errors && (dataForm.controls['primer_apellido'].dirty || dataForm.controls['primer_apellido'].touched)">
               Campo invalido, por favor valide la información
          </label>
        </div>      
        </div>
         

        <div class="p-field col-12 md:col-6">
            <label>Segundo Apellido</label>
            <input type="text" 
                   pInputText       
                   formControlName="segundo_apellido"> 
          <div class="errorvalidacion" class="p-field col-6 ">
          <label *ngIf="dataForm.controls['segundo_apellido'].errors && (dataForm.controls['segundo_apellido'].dirty || dataForm.controls['segundo_apellido'].touched)">
               Campo invalido, por favor valide la información
          </label>
        </div> 
        </div>
        

  <div class="p-field col-12 md:col-6">
      <label >Email</label>
      <input type="email" 
             pInputText
             formControlName="correo"> 
         <div class="errorvalidacion" class="p-field col-6 ">
    <label *ngIf="dataForm.controls['correo'].errors && (dataForm.controls['correo'].dirty || dataForm.controls['correo'].touched)">
         Campo invalido, por favor valide la información
    </label>
  </div>      
  </div>
 
  
  <div class="p-field col-12 md:col-6">
      <label>Celular</label>
      <input type="text" 
             pInputText
             formControlName="celular"> 
         <div class="errorvalidacion" class="p-field col-6 ">
    <label *ngIf="dataForm.controls['celular'].errors && (dataForm.controls['celular'].dirty || dataForm.controls['celular'].touched)">
         Campo invalido, por favor valide la información
    </label>
  </div>
  </div>
 
  
  <div class="p-field col-12 md:col-6">
    <label for="id_tipovinculacion">Tipo de Solicitud</label>
          <select id="seleTipoVin"  formControlName="id_tipovinculacion">
            <option *ngFor="let type of typeVinList" value="{{type.id}}">{{type.nombre}}</option>
          </select>
   </div>

  <div class="p-field col-12 ">

      <button pButton type="button"
              icon="pi pi-check "
              label="Create" 
              class="p-button-outlined p-button-success"
              (click)="SaveRecord()">
      </button>
  </div>

</div>
</form>

